# PostgreSQL environment variables
POSTGRES_DB=db-name
OSTGRES_USER=db-user
POSTGRES_PASSWORD=db-password
POSTGRES_DB_PORT=db-port

# FastAPI app configuration
APP_HOST_PORT=fastapi-port

# Auth
AUTH_SECRET=your-secret